.main {
    background: #F7F7F7;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card{
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.footer{
    height: 5vh;
}

.hero.is-fullheight-with-navbar{
    min-height: calc(100vh - 6.75rem);
}


.box .custom-box{
    margin-left: auto;
    margin-right: auto;
    flex: none;
    /* width: 60%; */
}

.column.is-offset-one-fifth, .column.is-offset-one-fifth-tablet {
    margin-left: auto;
    margin-right: auto;
}

.column.is-three-fifths, .column.is-three-fifths-tablet {
    flex: none;
    /* width: 60%; */
}

/**--NAVBAR STYLES----***/
a.navbar-item:hover,
div.navbar-item:hover,
a.navbar-dropdown:hover,
div.navbar-dropdown:hover{
    color: black;
}

a.navbar-item,
div.navbar-item,
a.navbar-dropdown,
div.navbar-dropdown{
    color: white;
}



/***----CUSTOMIZED STYLES----***/

/****Custom Welcome-page style****/

.customHeaderColorForWelcomePage{
    color: rgba(218, 218, 12, 0.527);
}

.block:not(:last-child) {
    margin-bottom: 3rem;
}

/***home.blade.php -Application customized styles***/
#headPart{
    margin-bottom: 3rem;
    margin-top: 10rem;
}

/***app.blade.php -Application customized styles***/
.customMainBackgroundColor{
    background-color: rgba(128, 128, 0, 0.527);
}

.customFontColor{
    color: rgb(74, 87, 98);
}

.img {
    width: 100px;
    height: 100px;
    background-size: cover;
}

/***SpeciesListComponent.vue styles***/
.table,
.box{
    background-color: white;
    color: black;
}

.customHeaderColorSpeciesList{
    color: $grey;
}

/***fixed width for table header***/

.is-fixed-width {
    width: 90px;
  }